::ng-deep

.full-width {
    width: 100%;
}
.mat-expansion-panel:not(.mat-expanded) {
    border-bottom: grey 1px solid;
}
.response-div {
    width: 100%;
    padding-left: 8px;
    text-align: left;
    .heading {
        font-weight: bold;
        margin-top: 0px;
    }
    .indented-right {
        margin-top: 0px;
        padding-left: 8px;
    }
}
.resp-ref {
    overflow-x: scroll;
    margin-top: 0px;
    padding-left: 8px;
}