.input-div {
    width: 100%;
    padding-left: 8px;
    text-align: left;
    p {
        margin-top:6px;
        margin-bottom: 6px;
    }
}
.literal-input {
    padding-left: 8px;
    width: 100%;
}
.complex-input {
    padding-left: 8px;
    width: 100%;
}
.bbox-input {
    padding-left: 8px;
    width: 100%;
}
.full-width {
    width: 100%;
}

.process-input {
    background-color: #f3f3f3;
    margin-bottom: 16px;
    padding-right: 16px;
    border: 1px #999 solid;
    mat-radio-group {
        mat-radio-button {
            margin-left: 8px;
            margin-bottom: 4px;
            margin-top: 4px;
        }
    }
}
.mat-expansion-panel:not(.mat-expanded) {
    border-bottom: grey 1px solid;
}