/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*.leaflet-top {
    top: 64px !important;
}*/

/*.leaflet-control {
    display: none !important;
}*/

.leaflet-draw-toolbar{
    display: none;
}
.leaflet-popup-content {
    max-height: 300px;
    overflow-y: auto;
}
.leaflet-popup-content-wrapper {
    width: 100% !important;
}
.mat-tooltip {
    font-size: 14px !important;
}
.cdk-overlay-container {
    z-index: 10000;
}
.info-panel {
    display: none;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    align-items: left;
    text-align: left;
    max-height: 113px !important;
    // overflow-y: auto;
    h4 {
        display: inline-block;
        margin: 0 0 5px;
        color: #777;
    }
    p {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.info-panel h4 {
}
.info-panel p {
/*    text-align: left;
    position: absolute;
    left: 0px;*/
}
.remove-layers-btn {
    float: right;
}